In [2]:
a='adsfasd'
b='X'
a+=b
print(a)

adsfasdX

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
inp='This is python session'
out=inp[-6]
print(out)

e

In [7]:
inp="Python is amazing"
out=inp[:5:-1]+ inp[5::]
print(out)

gnizama si n is amazing

In [14]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [30]:
n=int(input('Enter the Table Number: '))
for i in range(10,0,-1):
    print (n,'*',str(i),'=', n*i)

Enter the Table Number: 7
7 * 10 = 70
7 * 9 = 63
7 * 8 = 56
7 * 7 = 49
7 * 6 = 42
7 * 5 = 35
7 * 4 = 28
7 * 3 = 21
7 * 2 = 14
7 * 1 = 7

In [51]:
n=int(input('Enter the Table Number: '))
for i in range(1,11):
    print (n,'*',str(i),'=', n*i)

Enter the Table Number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [33]:
n=int(input('Enter number of rows to print * : '))
for i in range(n):
    print(i*'*')

Enter number of rows to print * : 10

*
**
***
****
*****
******
*******
********
*********

In [36]:
name='Rahul'
name1=name.replace('R','M')
print(name1)

Mahul

In [44]:
s1='abcdefghijklmnopqrstuvwxyz'
s2=''
for i in range(0,len(s1),3):
    s2=s2+s1[i]
print(s2)

adgjmpsvy

In [46]:
x=int(input('Enter the first Number : '))
y=int(input('Enter the second Number : '))
if x+y > 100:
    print('Sum is Greather than 100')
else:
    print('Sum is Lesser than 100')

Enter the first Number : 50
Enter the second Number : 50
Sum is Lesser than 100

In [61]:
num=[]
for i in range(1,11):
    x=int(input('Enter the first Number : '))
    num.append(x)
print('The max is : ', max(num))
print('The min is : ', min(num))

Enter the first Number : 1
Enter the first Number : 2
Enter the first Number : 3
Enter the first Number : 4
Enter the first Number : 5
Enter the first Number : 6
Enter the first Number : 7
Enter the first Number : 8
Enter the first Number : 9
Enter the first Number : 10
The max is :  10
The min is :  1

i=0
while i<5:
    print(i,end=" ")
    i+=2
if i==1:
    continue
else:
    print(1,end=" ")

In [65]:
i=0
while i<5:
    print(i,end=" ")
    i+=2
    if i==1:
        continue
else:
    print(1,end=" ")

0 2 4 1

In [69]:
string='I love Python'
for i in string.split():
    print(i,end=",")

I,love,Python,

In [67]:
list1=[1,3]
list2=list1

list1[0]=0
print(list2)

[0, 3]

In [70]:
x=8
if(x>6):
    x=x*2
if(x<12):
    x=0
print(x)

16

In [72]:
x=0
for i in range(4):
    for j in range(-1,-10, -1):
        x+=1
print(x)

36

In [27]:
#Indexing in List
s=input('Enter the List Elements: ')
n=int(input('Enter the List Index: '))
slist=[]
slist=s.split(",")
print(slist[-n])

Enter the List Elements: ["Python","C","C#","SAS","Java"]
Enter the List Index: 4
"C"

In [15]:
n=int(input("Enter number of elements"))
s=[]
for i in range (n):
    element=input("Enter the element :")
    s.append(element)
    print(s)

Enter number of elements3
Enter the element :"Python"
Enter the element :"C"
Enter the element :"C#"
['"Python"', '"C"', '"C#"']

In [ ]:
#Reverse a String
a = input()
print(a[::-1].swapcase())