In [5]:
for i in range(3):
    print(i)

0
1
2

In [6]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
i=0
while i<10:
    print(i)
    i+=1

In [ ]:
ch='y'
while ch=='y':
    print('UpGrad')
    ch=input('Enter (y/n)')

In [2]:
#SETS
countries={'USA','Switzerland','Thailand','Germany','UAE'} #not ordered
print(countries)
print(type(countries))

{'UAE', 'USA', 'Germany', 'Switzerland', 'Thailand'}
<class 'set'>

In [4]:
countries.add('UAE') #duplicates are not allowed

In [5]:
countries

{'Germany', 'Switzerland', 'Thailand', 'UAE', 'USA'}

In [12]:
kkkg={'Amitabh','Sharukh','Kajol','Jaya','Hrithik','Kareena'}

In [7]:
kkkg

{'Amitabh', 'Hrithik', 'Jaya', 'Kajol', 'Kareena', 'Sharukh'}

In [8]:
kkkg[2] #unordered, no indexing allowed

TypeError: 'set' object is not subscriptable

In [13]:
mohab={'Amitabh','Sharukh','Jimmy','Anupam','Ambrish','Archana','Aishwarya'}

In [11]:
#actors which are present in kkkg and mohabbatein
kkkg.intersection(mohab)

{'Amitabh', 'Sharukh'}

In [12]:
#actors present in kkkg but not in mohabbatein
kkkg.difference(mohab)

{'Hrithik', 'Jaya', 'Kajol', 'Kareena'}

In [14]:
kkkg-mohab

{'Hrithik', 'Jaya', 'Kajol', 'Kareena'}

In [13]:
#actors present in mohabbatein but not in kkkg
mohab.difference(kkkg)

{'Aishwarya', 'Ambrish', 'Anupam', 'Archana', 'Jimmy'}

In [23]:
#finding common elements between two lists
l=[1,2,3,4,5,6,7]
l1=[4,5,6,7,8,9]
final=[]

for i in l:
    if i in l1:
        final.append(i)
print(final)

[4, 5, 6, 7]

In [17]:
#all the actors present in kkkg and mohabbatein
k1=mohab.union(kkkg)

In [18]:
print(k1)

{'Kajol', 'Aishwarya', 'Amitabh', 'Kareena', 'Archana', 'Jaya', 'Sharukh', 'Ambrish', 'Hrithik', 'Anupam', 'Jimmy'}

In [24]:
#when a list is assigned to a set, the order of the set elements will be in asc order
s1=set(l)
s2=set(l1)
finalset=s1.intersection(s2)
print(finalset)

{4, 5, 6, 7}

In [26]:
s1.clear()
s1=s2.copy()
s1

{4, 5, 6, 7, 8, 9}

In [33]:
s1={2,3,4,5,6,7}
print(s1)
print(s2)

{2, 3, 4, 5, 6, 7}
{4, 5, 6, 7, 8, 9}

In [28]:
print(s2)

{4, 5, 6, 7, 8, 9}

In [32]:
s1.issubset(s2)

False

In [34]:
s2.pop() #any element will pop in random

4

In [35]:
s2.pop(3) #sets are not indexed, no indexing allowed in SETS

TypeError: set.pop() takes no arguments (1 given)

In [42]:
s2

{5, 6, 7, 8, 9}

In [43]:
s2.remove(9) #elements by value can be removed from SETS
s2

{5, 6, 7, 8}

In [1]:
basket={'apple','orange','apple','pear','orange','banana'}
print(basket)

{'apple', 'pear', 'orange', 'banana'}

In [3]:
'orange' in basket

True

In [4]:
'crab' in basket

False

In [6]:
a=set('abracadabra')
b=set('alacazam')

In [10]:
a

{'a', 'b', 'c', 'd', 'r'}

In [11]:
b

{'a', 'c', 'l', 'm', 'z'}

In [15]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [16]:
set1 = {"Delhi", "Mumbai", "Kashmir"}
set2 = {"Mumbai", "Chennai", "Jaipur"}

set1.difference_update(set2)
print(set1)

{'Delhi', 'Kashmir'}

In [17]:
odd={1,3,5,7,9}
even={2,4,6,8,0}
prime={2,3,5,7,11}
set1=odd.union(even)
set2=set1.difference(prime)
print(set2)

{0, 1, 4, 6, 8, 9}

In [18]:
d = dict('a'=1, 'b'=2)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3495912307.py, line 1)

In [19]:
d = {'a':1, 'b':2}

In [20]:
d={}
print(type(d))

<class 'dict'>

In [1]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [5]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [4]:
country={"England":"London","Australia":"Sydney"}

In [5]:
country.get("India",0)

0