In [1]:
x=((500//7) % 5) ** 3
print(x)

1

In [4]:
T = (3, 5, 7, 11)
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
S="I love Python"
S[-11:-8]

'lov'

In [10]:
3 * 3 ** 3

81

In [11]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [12]:
l = [32, 34, 12, 27, 33]
l.append([14, 19])
print(len(l))

6