In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame({
    'city':['new york','chicago','orlando'],
    'temperature':[21,14,45]
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           45

In [3]:
df2=pd.DataFrame({
    'city':['new york','chicago','orlando'],
    'humidity':[80,60,75]
})
df2

       city  humidity
0  new york        80
1   chicago        60
2   orlando        75

In [4]:
df3=pd.merge(df1,df2,on='city')
df3

       city  temperature  humidity
0  new york           21        80
1   chicago           14        60
2   orlando           45        75