In [1]:
#easy to learn and code
#Object oriented lang
#compilation and execution is easy

In [2]:
a=10
print(a)

10

In [3]:
print(type(a))

<class 'int'>

In [4]:
a=9.4
print(a)

9.4

In [5]:
print(type(a))

<class 'float'>

In [6]:
a='Upgrad'
print(a)
print(type(a))

Upgrad
<class 'str'>

In [7]:
print a

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(a)? (<ipython-input-7-da1608c9d425>, line 1)

In [ ]:
#syntax of print command

#print('message',variable)
#print('message')
#print(variable)
#print(constant)

In [8]:
print('Hello world')  #printing a constant

Hello world

In [9]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
#integer, float, string, boolean
#boolean is either True or False
#built in data types...these types of data are handled
#by the language

In [11]:
print(10==9)

False

In [12]:
print(10>9)

True

In [14]:
a=10
b=5
c=a+b
d=a-b
e=a*b
f=a/b
print('the sum is',c)
print('the difference is',d)
print('the product is',e)
print('the quotient is',f)

15
5
50
2.0

In [15]:
g=a%b  #modulus operator which gives the remainder
print('the remainder is',g)

the remainder is 0

In [16]:
k=b**2  #exponentiation
print('The power of 2 is',k)

The power of 2 is 25

In [17]:
s='Hello world'
print(s)
print(type(s))

Hello world
<class 'str'>

In [18]:
s1="""I can write multiple lines
in the string and all would be counted as 
one string"""
print(s1)

I can write multiple lines
in the string and all would be counted as
one string

In [19]:
s2='''I am writing
multiple lines in the string
just to show that we can have a multiple lines
string'''
print(s2)

I am writing
multiple lines in the string
just to show that we can have a multiple lines
string

In [20]:
anika='''Anika is a student of Upgrad
She is a good girl 
studying DS'''
print(anika)

Anika is a student of Upgrad
She is a good girl
studying DS

In [21]:
print(s)

Hello world

In [22]:
s[6]  #strings are stored as arrays and are subscriptable

'w'

In [23]:
s[0]    #they are indexed

'H'

In [24]:
s[5]

' '

In [25]:
#function of string to find the length
x=len(s)
print(x)

11

In [26]:
print('The length of the message is',x)

The length of the message is 11

In [27]:
print('the length is ',len(s))

the length is  11

In [28]:
print('the length is ',len(anika))

the length is  60

In [29]:
anika[0]

'A'

In [30]:
anika[6]

'i'

In [31]:
u='Upgrad'
u1=u.upper()
print(u1)

UPGRAD

In [32]:
l=s.upper()
print(l)

HELLO WORLD

In [33]:
an=anika.upper()
print(an)

ANIKA IS A STUDENT OF UPGRAD
SHE IS A GOOD GIRL
STUDYING DS

In [34]:
print(s1.upper())

I CAN WRITE MULTIPLE LINES
IN THE STRING AND ALL WOULD BE COUNTED AS
ONE STRING

In [36]:
print(s1)

I can write multiple lines
in the string and all would be counted as
one string

In [37]:
s1=s1.upper()
print(s1)

I CAN WRITE MULTIPLE LINES
IN THE STRING AND ALL WOULD BE COUNTED AS
ONE STRING

In [38]:
print(s1)

I CAN WRITE MULTIPLE LINES
IN THE STRING AND ALL WOULD BE COUNTED AS
ONE STRING

In [39]:
l1=s1.lower()
print(l1)

i can write multiple lines
in the string and all would be counted as
one string

In [40]:
print(anika.lower())

anika is a student of upgrad
she is a good girl
studying ds

In [41]:
s3='       I am Pooja      '
print(s3)

       I am Pooja

In [42]:
ss3=s3.strip()  #remove the white spaces
print(ss3)

I am Pooja

In [43]:
s4='Pooja Kain'
s5=s4.replace('K','J')

In [44]:
print(s5)

Pooja Jain

In [46]:
ss4='Kooja Kain'
ss5=ss4.replace('K','P')
print(ss5)

Pooja Pain

In [47]:
s5='I\'m Pooja'
print(s5)

I'm Pooja

In [48]:
s6=s5.replace('\'',' ')
print(s6)

I m Pooja

In [49]:
#syntax for replace (old,new,count)
s6='Aarti Sharma'
s7=s6.replace('a','',1)
print(s7)

Arti Sharma

In [50]:
#syntax for replace (old,new,count)
s6='Aarti Sharma'
s7=s6.replace('a','',2)
print(s7)

Arti Shrma

In [51]:
#syntax for replace (old,new,count)
s6='Aarti Sharma'
s7=s6.replace('a','')
print(s7)

Arti Shrm

In [52]:
#split-splits the sentence on a '' or ','
st='''I am going to the market.
I need to buy some vegetables
I need to cook the lunch'''
print(st)

I am going to the market.
I need to buy some vegetables
I need to cook the lunch

In [53]:
sp=st.split(' ')
print(sp)

['I', 'am', 'going', 'to', 'the', 'market.\nI', 'need', 'to', 'buy', 'some', 'vegetables\nI', 'need', 'to', 'cook', 'the', 'lunch']

In [54]:
st1='I am going, I will bring some veggies, then I will cook'
stt=st1.split(',')
print(stt)

['I am going', ' I will bring some veggies', ' then I will cook']

In [57]:
str1='Im going.I will bring some vegetables.I will cook them' 
str2=str1.split('.') 
print(str2)

['Im going', 'I will bring some vegetables', 'I will cook them']

In [58]:
st1='i am going to play. i will come home late. plz sleep.' 
print(st1)

i am going to play. i will come home late. plz sleep.

In [59]:
sp1=st1.split('.') 
print(sp1)

['i am going to play', ' i will come home late', ' plz sleep', '']

In [60]:
#string concatenation..addition

s='hello'
s1='world'
final=s+s1
print(final)

helloworld

In [61]:
final=s+' '+s1
print(final)

hello world

In [64]:
s='chandra'
s1='yaan'
final=s+s1+' '+'3'
print(final)

chandrayaan 3

In [65]:
#escape characters
#The statue's height is 500m
s='The statue\'s height is 500m'
print(s)

The statue's height is 500m

In [67]:
#in\out anything 
s='in\out anything'
print(s)

in\out anything

In [68]:
#capitalize
s='pooja jain'
print(s.capitalize())

Pooja jain

In [69]:
#title
s='pooja jain'
print(s.title())

Pooja Jain

In [71]:
s='Mehak Sharma is a Sharma'
c1=s.count('Sharma')
print('Sharma appeared', c1,'times')

Sharma appeared 2 times

In [72]:
c2=s.count('a')
print('a appeared',c2,'times')

a appeared 6 times