## Comprehension - II

Suppose you are working as a manager in the Human Resources department of a company. You are planning to realign your companyâ€™s insurance policy according to the age of the employees.

The data has been provided to you in the notebook below in a dictionary, with keys and values representing the employee IDs and the age of employees, respectively.

Use the data to annwer the following questions

In [1]:
# employee data with key as id of the employee and values as age of the employee
employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25,
                110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30,
                120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27,
                129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28,
                138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30,
                148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31,
                158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20,
                169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30,
                178: 26, 179: 27}

#### Q7: Senior Most Employee

Find out the age of the senior most employee.

**Hint:** The built-in function max() may be useful here.

- 45
- 44
- 48
- 42

In [9]:
# Type your code here
max(employee_data.values())

45

#### Q8: Total Number of Employees 

What is the total number of employees in the organization?

- 79
- 78
- 60
- 74

In [14]:
#Find the number of employees with age greater than or equal to 40
res = sum(x >= 40 for x in employee_data.values())
print(res)

15

#### Q9: Mean Age

Calculate the mean age of the employees. (Note: Enter the value rounded down to two decimal places.)

In [ ]:
# Type your code here

#### Q10: Updated Mean

Perform the following two tasks and then calculate the updated mean age of the employees:

**Task 1:** Update the ages of the employees with employee Ids 104,140 and 164 to 27. 

**Task 2:** Remove the employee with employee Id 143.

Calculate the mean age of the employees

- 30.71
- 31.36
- 30.13
- 31.14

In [ ]:
# Type your code here

#### Q11: Veteran Employees

Find the number of employees with age greater than or equal to 40.

- 60
- 15
- 23
- 14

In [ ]:
# Type your code here