In [1]:
d={'Name':'Rahul','Gender':'Male','Org':'TCS'}

In [2]:
print(d)

{'Name': 'Rahul', 'Gender': 'Male', 'Org': 'TCS'}

In [3]:
print(type(d))

<class 'dict'>

In [4]:
d.items

In [5]:
d.values

In [7]:
d.values()

dict_values(['Rahul', 'Male', 'TCS'])

In [13]:
dict={}
for i in range (1,11):
    val=i**2
    dict[i]=val
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [10]:
dict={}
for i in range(1,10):
    val=i*i
    dict[i]=val
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [14]:
c={"eng":"London","india":"delhi"}
c["india"]

'delhi'

In [16]:
c["india"]

'delhi'

In [17]:
print(dir(c))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [24]:
output=[]
dict=[{'name':'Alice','age':25},{'name':'Bob','age':30}]
for i in dict:
    output.append(i['age'])
print(output)

[25, 30]

In [ ]:
s=input()
list=[]
words=s.split(",")
for i in words:
    list.append(i)
print(list[-1])

In [ ]:
book=set()
ch='y'
while ch=='y':
    name=input("Enter Book Name: ")
    book.add(name)
    ch=input("Do you want to continue: ")
print(book)

In [ ]:
marks=("parth":[21:29:16],"yohan":[20,30,40])
sum(marks["parth"])/len(marks["parth"])

In [ ]:
set1={"delhi","mumbai","kashmir"}
set2={"mumbai","chennai","jaipur"}

set1.difference_update(set2)
print(set1)

In [ ]:
odd={1,3,5,7,9}
even={2,4,6,8,0}
prime={2,3,5,7,11}
set1=odd.union(even)
set2=set1.difference(prime)
print(set2)

In [ ]:
s=[[1,2,3],[4,5],[6,7,8,9]]
output=[]
for i in s:
    output.append(sum(i))
print(output)