### List Comprehensions

In [3]:
input_list=['wood','old','apple','big','item','euphoria']
vowels=['a','e','i','o','u']
print([i for i in input_list if i[0] in vowels])

['old', 'apple', 'item', 'euphoria']

### Even numbers in a list

In [8]:
import ast
input_list=input()
lst = ast.literal_eval(input_list)
evenlst = list(filter(lambda i: (i%2==0), lst))
print(evenlst)

[500, 789, 2112, 9097, 5894, 9062, 8977, 1223, 773, 600]
[500, 2112, 5894, 9062, 600]

### Function

In [11]:
def squared(x,y):
    return x**y

print(squared(2,3))

8

### Lambda Function

In [12]:
greater=(lambda x,y: x if x>y else y)
print(greater(3,6))

3

### Triple the list elements

In [13]:
import ast
input_list=input()
lst = ast.literal_eval(input_list)
output_list=list(map(lambda x: x*3, lst))
print(output_list)

[15, 71, 2, 9, 5, 6, 11, 3, 7, 6]
[45, 213, 6, 27, 15, 18, 33, 9, 21, 18]

### Encrypt elements in a list

In [22]:
import ast
input_list=input()
namelist = ast.literal_eval(input_list)
tsileman=list(map(lambda i:i[::-1], namelist))
print(tsileman)

['Abhay', 'Aravind', 'Desilva', 'Darpan']
['yahbA', 'dnivarA', 'avliseD', 'napraD']

### Sorting a dictionary

In [38]:
#import ast
#input_list=input()
#students = ast.literal_eval(input_list)
students=[{ "name" : "Arpit", "rank" : 20}, { "name" : "Manjeet", "rank" : 20 },{ "name" : "Aravind" , "rank" : 19 }]
sort_students=sorted(students,key=lambda d: (d['rank'],d['name']))
print(sort_students)

[{'name': 'Aravind', 'rank': 19}, {'name': 'Arpit', 'rank': 20}, {'name': 'Manjeet', 'rank': 20}]

In [18]:
lst1=['Arkam', 'Bairstow', 'Cairy', 'Darpan'] 
lst2=['Arkam', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin']
lst3=['Arkam', 'Bairstow', 'Cheteshwar', 'Dinesh']

set1=set(x.lower() for x in lst1)
set2=set(x.lower() for x in lst2)
set3=set(x.lower() for x in lst3)

set12=set1.intersection(set2)
set123=list(set12.intersection(set3))
print(set123)

['arkam', 'bairstow']

In [19]:
events=[[29,31], [23,26], [24,25]]
for event in events:
    print(event)

[29, 31]
[23, 26]
[24, 25]

In [20]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [21]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [23]:
def function(n):
  return n+1
 
n=2
print(function(2))

3

In [24]:
x=10
def func(x):
   x=20
print(x)
 
print(x)

10
10

In [25]:
def samplefunc(msg,i=3):
  print(msg*i)
 
samplefunc('python',4)
samplefunc('program')

pythonpythonpythonpython
programprogramprogram

In [28]:
f=lambda x:bool(x%2)
print(f(101))

True

In [31]:
-3//2

-2

In [30]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [32]:
from functools import reduce
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [33]:
sample=[-4,2,5,-3]
ans=map(lambda x: x*2, sample)
print(ans)

<map object at 0x000001D9C1218490>

In [37]:
from functools import reduce
list=[reduce(lambda x,y:x+y,range(5,15))]
print(list)

[95]

### Updating the dictionary keys

In [19]:
a=[['Barcelona', 'Griezmann'], ['PSG', 'Ramos']]
print(type(a))

<class 'list'>

In [34]:
print(a)

[['Barcelona', 'Griezmann'], ['PSG', 'Ramos']]

In [12]:
Odic={'Barcelona': 'Messi' , 'Real Madrid': 'Benzema', 'PSG': 'Neymar' }

In [35]:
for i in range(len(a)):
    for j in (Odic):
        if j==a[i][0]:
            Odic[j]=a[i][1]
print(Odic)

{'Barcelona': 'Griezmann', 'Real Madrid': 'Benzema', 'PSG': 'Ramos'}

In [24]:
print(len(Odic[0]))

KeyError: 0

In [31]:
for i in Odic:
    print(i,Odic[i])

Barcelona Messi
Real Madrid Benzema
PSG Neymar

In [23]:
dict = { 'first' : 'apple' , 'second' : 'orange' , 'third' : 'mango' }
print ("Original dictionary is : " + str(dict))
print ("Dict key-value are : ")
for i in dict :
   print( i, "-",dict[i], sep = " ")

Original dictionary is : {'first': 'apple', 'second': 'orange', 'third': 'mango'}
Dict key-value are :
first - apple
second - orange
third - mango

In [26]:
print(Odic)

{'Barcelona': 'Messi', 'Real Madrid': 'Benzema', 'PSG': 'Neymar'}

### List Average

In [5]:
import ast
team_value=input()
tv = ast.literal_eval(team_value)
ee_value=input()
ev = ast.literal_eval(ee_value)
pm=0
for i in range(len(tv)):
    if tv[i]>ev[i]:
        pm+=1

if pm<=2:
    print('Selected')
else:
    print('Rejected')

['8', '4', '6', '9', '7']
['1', '1.1', '1.2', '1.2', '2.3']
Rejectes

### Sorting List Tuples

In [6]:
student_marks = [(85, 92), (78, 95), (90, 88), (82, 89), (88, 78)]

# Sort the list of tuples based on Physics scores (second element) in decreasing order
sorted_student_marks = sorted(student_marks, key=lambda x: x[1], reverse=True)

# Display the sorted list
for marks in sorted_student_marks:
    print(f"Aptitude: {marks[0]}, Physics: {marks[1]}")

Aptitude: 78, Physics: 95
Aptitude: 85, Physics: 92
Aptitude: 82, Physics: 89
Aptitude: 90, Physics: 88
Aptitude: 88, Physics: 78

In [8]:
sorted_student_marks

[(78, 95), (85, 92), (82, 89), (90, 88), (88, 78)]

### Divisibility Check

In [41]:
n_str = input('Enter the number')
hn=is_happy_number(n_str)
if hn==True:
    print('Entered number is Happy Number')
else:
    print('Entered number is Sad Number')

def is_happy_number(n):
    n_str = str(n).replace(',', '')
    n = int(n_str)
    if n == 0:
        return False

    for digit_str in n_str:
        digit = int(digit_str)
        if digit == 0 or n % digit != 0:
            return False
    return True

Enter the number131
Entered number is Sad Number

In [42]:
purchase_data={"Ketan":{"potato":5,"tomato":1,"biscuit":4},"Parth":{"cashew":2,"almonds":1,"biscuit":3}, 
"Cinder":{"cashew":7,"tomato":2,"bread":1},"Giva":{"almonds":10,"bread":2,"potato":6}, 
"Henry":{"butter":2,"tomato":5,"bread":1},"Wuan":{"apricot":2,"bread":3},
 "Ceaser":{"apricot":2,"tomato":1,"bread":1},"Jack":{"almonds":10,"bread":1,"potato":2}, 
"Peter":{"butter":2,"jam":1,"bread":4},"Oliver":{"almonds":20,"apricot":7,"potato":5}, 
"John":{"jam":2,"hazelnut":4,"bread":4},"Heric":{"butter":2,"jam":2,"potato":4,"hazelnut":5}}

In [58]:
x=0
name=input()
for i in purchase_data[name].values():
    x=x+i
print(x)

Ketan
10

In [54]:
print(purchase_data['Parth'])

{'cashew': 2, 'almonds': 1, 'biscuit': 3}

In [1]:
purchase_data={"Ketan":{"potato":5,"tomato":1,"biscuit":4},"Parth":{"cashew":2,"almonds":1,"biscuit":3}, 
"Cinder":{"cashew":7,"tomato":2,"bread":1},"Giva":{"almonds":10,"bread":2,"potato":6}, 
"Henry":{"butter":2,"tomato":5,"bread":1},"Wuan":{"apricot":2,"bread":3},
 "Ceaser":{"apricot":2,"tomato":1,"bread":1},"Jack":{"almonds":10,"bread":1,"potato":2}, 
"Peter":{"butter":2,"jam":1,"bread":4},"Oliver":{"almonds":20,"apricot":7,"potato":5}, 
"John":{"jam":2,"hazelnut":4,"bread":4},"Heric":{"butter":2,"jam":2,"potato":4,"hazelnut":5}}

In [3]:
def total_units_sold(product_name, purchase_data):
    total_sold = 0
    for person, purchases in purchase_data.items():
        if product_name in purchases:
            total_sold += purchases[product_name]
    return total_sold

# Example usage:
product_name = "bread"
total_sold = total_units_sold(product_name, purchase_data)
print(f"Total units of {product_name} sold: {total_sold}")

Total units of bread sold: 17

In [10]:
sum=0
for product, purchases in purchase_data.items():
    if product_name in purchases:
        sum+=purchases['bread']
    
print(sum)

17

In [12]:
def customer_with_most_products(products, purchase_data):
    max_products = 0
    customer_with_max_products = None

    for customer, purchases in purchase_data.items():
        products_purchased = sum(1 for product in products if product in purchases)
        if products_purchased > max_products:
            max_products = products_purchased
            customer_with_max_products = customer

    return customer_with_max_products, max_products

# Example usage:
input_products = ["almonds"]
customer, num_products = customer_with_most_products(input_products, purchase_data)

if customer is not None:
    print(f"The customer who purchased the most products ({num_products} products) is {customer}.")
else:
    print("No customer has purchased any of the specified products.")

TypeError: 'int' object is not callable

In [2]:
emp={"emp1":{"name":"Carie","salary":20000,"designation":"Analyst","Grade":"E1"},
"emp2":{"name":"Herina","salary":40000,"designation":"Senior Analyst","Grade":"E2"},
"emp3":{"name":"Watler","salary":80000,"designation":"Data Scientist","Grade":"E1"},
"emp4":{"name":"Ria","salary":60000,"designation":"Data Scientist","Grade":"E1"},
"emp5":{"name":"Rina","salary":90000,"designation":"Senior Data Scientist","Grade":"E2"},
"emp6":{"name":"Caren","salary":150000,"designation":"Manager","Grade":"E3"},
"emp7":{"name":"Archer","salary":80000,"designation":"Senior Data Scientist","Grade":"E2"},
"emp8":{"name":"Barry","salary":15000,"designation":"Analyst","Grade":"E1"},
"emp9":{"name":"Heren","salary":60000,"designation":"Senior Analyst","Grade":"E2"},
"emp10":{"name":"Arlo","salary":25000,"designation":"Analyst","Grade":"E1"}}

In [3]:
for key, value in emp.items():
    if key in purchases:
        key purchases[Carie]
return total_sold

NameError: name 'name' is not defined