In [1]:
import numpy as np
import pandas as pd

In [2]:
s="Python is best"
print(s[2]*s.index("s"))

tttttttt

In [3]:
print(s.index("s"))

8

In [4]:
ls=[8,[6,2],7,0,[-7,-9],[8,-4,1,[-4,3]]]
print(ls[len(ls)-2][len(ls)-5])

-9

In [5]:
ls[4]

[-7, -9]

In [6]:
a={1:"A",2:"B",3:"C"}
b=a.copy()
b[2]="D"
print(a)

{1: 'A', 2: 'B', 3: 'C'}

In [7]:
import ast
input_str1 = input()
input_list1 = ast.literal_eval(input_str1)
employee_grades = np.array(input_list1)
senior_employee_grade = int(input())
print(len(employee_grades[employee_grades<senior_employee_grade]))

[1,2,3,4]
3
2

In [8]:
plants = ['Cactus', 'Climber', 'Bamboo','Cactus', 'Succulent','Cactus']
plt_uni=[]
for plt in plants:
    if plt not in plt_uni:
        plt_uni.append(plt)

print(plt_uni)
for i in range(0, len(plt_uni)):
    print(i)

['Cactus', 'Climber', 'Bamboo', 'Succulent']
0
1
2
3

In [9]:
plants = ['Cactus', 'Climber', 'Bamboo','Cactus', 'Succulent','Cactus']
plt_uni=[]
inde=[]
for i in range(0, len(plants)):
    if plants[i] not in plt_uni:
        plt_uni.append(plants[i])
        inde.append(i)
print(plt_uni)
print(inde)

['Cactus', 'Climber', 'Bamboo', 'Succulent']
[0, 1, 2, 4]

In [10]:
plants = ['Cactus', 'Climber', 'Bamboo','Cactus', 'Succulent','Cactus']
plt_uni=[]
inde=[]
for i in range(0, len(plants)):
    if plants[i] not in plt_uni:
        plt_uni.append(plants[i])
        inde.append(i)
print(plt_uni)
print(inde)

['Cactus', 'Climber', 'Bamboo', 'Succulent']
[0, 1, 2, 4]

In [11]:
np.arange(20)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [12]:
on=np.ones((3,4))

In [13]:
np.array([4,5,6])

array([4, 5, 6])

In [14]:
on.shape

(3, 4)

In [15]:
np.array(4,5,6)

TypeError: array() takes from 1 to 2 positional arguments but 3 were given

In [ ]:
a=np.array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [ ]:
a.shape

In [ ]:
a.ndim

In [ ]:
np.array(1.0, 2, 3.5, 0.2, True)

In [ ]:
np.array( [1.0, 2, 3.5, 0.2, "True"] )

In [ ]:
x=np.array([1.0, 2, 3.5, 0.2, True])

In [ ]:
x.shape

In [ ]:
x.dtype

In [ ]:
array_1 = [1,2,3,4,5,6,7,8,9,10,11]
print(array_1[2:-3])

In [ ]:
array_1[1:2]

In [ ]:
p = 10
q = 20
gap = 0.5

output=np.arange(p, q + gap, gap)

print(output)

In [ ]:
array_1

In [ ]:
ar=np.array([1,2,3,4,5])
ar

In [ ]:
if 3 in ar:
    print('Present')

In [ ]:
for i in range(0,ar.shape[0]):
    if ar[i]<1:
        print('Yes')
    else:
        print('No')

In [ ]:
import ast
import numpy as np
input_str1 = input()
input_list1 = ast.literal_eval(input_str1)
my_1d_array = np.array(input_list1)

l=[]
k = int(input())
#write your code here
for i in range(0,my_1d_array.shape[0]):
    if k>my_1d_array[i]:
        l.append(True)
    else:
        l.append(False)

for i in range(0,len(l)):
    if l[i]==False:
        fl=False
        break
    else:
        fl=True

print(fl)

In [ ]:
x=np.array([[1,2,3],[2,3,4]])
l=[]
l=x.shape
print(l[0])

In [ ]:
import ast
import numpy as np
input_str1 = input()
input_list1 = np.array(ast.literal_eval(input_str1))

l=[]
l=input_list1.shape

if l[0]==2 and (l[1]%3)==0:
    print(True)
else:
    print(False)

In [ ]:
print(9%3)

In [ ]:
#import ast,sys
input_str = input()
input_list = ast.literal_eval(input_str)
col_first=[]
col_last=[]
# Convert the input list to a NumPy array
array_2d =np.array(input_list)
row_first=array_2d[0]
row_last=array_2d[-1]
j=0
for i in range(0,array_2d.shape[0]):
    col_first.append(array_2d[i,j])
j=-1
for i in range(0,array_2d.shape[0]):
    col_last.append(array_2d[i,j])
col_first=np.array(col_first)
col_last=np.array(col_last)
print(col_first)
print(row_first)
print(col_last)
print(row_last)

In [ ]:
np.arange(5,51,5)

In [ ]:
array_1 = [1,2,3,5,4,6,7,8,5,3,2]
print(array_1[ : : -2])

In [ ]:
a=np.array([[11, 12, 13, 14], [21, 22, 23, 24], [31, 32, 33, 34]])
print(a)

In [ ]:
a[ : , :3]

In [ ]:
c=np.array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])
print(c)

In [ ]:
c.shape

In [ ]:
len(c)

In [ ]:
c.size

In [ ]:
n=int(input())
arr=np.ones((n,n), dtype=int)

for i in range(1,arr.shape[0]-1):
    for j in range(1,arr.shape[1]-1):
        arr[i,j]=0
print(arr)

In [ ]:
np.ones((n,n), dtype=int)

In [ ]:
np.array([[2,3,4],[5,6,7]]) + np.array([1,2,3])

In [ ]:
np.array([[2,3,4],[5,6,7]]) + 1

In [ ]:
a=np.array([1,2,3])
b=np.array([1,4,3])
a==b
a<3

In [ ]:
x=np.array([[1,2],[3,4]])
y=np.array([[5,6],[7,8]])
np.dot(x,y)

In [ ]:
np.mean(y)

In [ ]:
np.cumsum(x)

In [ ]:
array_1=np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20]])

In [ ]:
print(array_1[array_1%2 != 0].reshape(5, 2))

In [ ]:
nums = [11,12,13,14,15]
series = pd.Series(nums)
series.truncate(2)

In [ ]:
s=pd.Series(['Ind','Aus','NZ','US'],index=['a','b','c','d'])
print(type(s))

In [ ]:
len(s)

In [ ]:
s

In [ ]:
country=['Ind','Aus','NZ','US']
cost=[100,200,300,400]
sales=pd.Series(cost,index=country)
sales

In [ ]:
country=('Ind','Aus','NZ','US')
cost=(100,200,300,400)
sales=pd.Series(cost,index=country)
sales

In [ ]:
a=np.array([[7, 13, 14],
[18, 10, 17],
[11, 12, 19]])

In [ ]:
b=np.array([16, 6, 1])

In [ ]:
c=np.array([[5, 8, 4, 3]])

In [ ]:
d=np.vstack((a,b))
d

In [ ]:
e=np.transpose(c)
e

In [ ]:
f=np.hstack((d,e))
f

In [ ]:
m=6
n=12
a=np.array([1, 5, 9, 12, 15, 7, 12, 9])
res=np.where((a>m) & (a<n))
x=a[res]
print(x)

In [ ]:
a = np.array([1, 5, 9, 12, 15, 7, 12, 9])
print("Original array:")
print(a)
result = np.where(np.logical_and(a>6, a<12))
print("\nElements within range: index position")
print(a[result])

In [ ]:
input_list=input()
m=int(input())
n=int(input())

import numpy as np
#start writing your code from here
array_1 = np.array(input_list)
res=np.where((array_1>m) & (array_1)<n)
final_array = array_1[res]#start writing your code from here

print(final_array)

In [ ]:
a = pd.Series([1, 2, 3, 4, 5])
b = pd.Series([2,3,5])

# Find items in 'a' that are not in 'b'
items_in_a_not_in_b = a[~a.isin(b)]

# Print the items and the size of the obtained output
print("Items in 'a' but not in 'b:")
print(items_in_a_not_in_b)
print("Size of the obtained output:", len(items_in_a_not_in_b))

In [ ]:
#anotinb=[]
# Taking the first input
ls=[]
a = [1, 2, 3, 4, 5]
b = [2,3,5]
a=pd.Series(a)
b=pd.Series(b)
# Enter your code here
anotinb=a[~a.isin(b)]
print(anotinb.values)
print(len(anotinb))

In [ ]:
a=pd.Series()
a

In [ ]:
my_series = pd.Series(['A', 'B', 'C', 'D', 'E'])

#get third value in Series
print(my_series.values)

In [48]:
import ast
lst=[]
lst=input()
lst=ast.literal_eval(lst)
a=pd.Series(lst)
count_visit=pd.Series(a.value_counts())
max_visit=count_visit.max()
res=count_visit[count_visit==max_visit]
print(res.index.tolist())

[111,112,113,112,114,115,112,111,111]
[111, 112]

In [47]:
d =  pd.Series([[10, 20, 30, 40],[3]])
d.shape

(2,)

In [49]:
print(a.drop([0, 2]))
a

1    112
3    112
4    114
5    115
6    112
7    111
8    111
dtype: int64

0    111
1    112
2    113
3    112
4    114
5    115
6    112
7    111
8    111
dtype: int64

In [50]:
a

0    111
1    112
2    113
3    112
4    114
5    115
6    112
7    111
8    111
dtype: int64