In [1]:
s='I love Python'
print(s[2:6])

love

In [2]:
input_string='Upgrad'
output_string = ''
for i in range(len(input_string)):
    if input_string[i] == 'a':
        output_string += '*'
    else:
        output_string += input_string[i]
print(output_string)

Upgr*d

In [3]:
# List of processed order IDs
processed_orders = [1050, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066,
                    1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1085, 1088,
                    1089, 1091, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106,
                    1107, 1108, 1109, 1111, 1117, 1119, 1121, 1124, 1128, 1129,
                    1131, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1150, 1152,
                    1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170,
                    1172, 1176, 1178]

# List of returned order IDs
returned_orders = [1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071,
                   1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086,
                   1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105,
                   1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122,
                   1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135,
                   1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151, 1153,
                   1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173,
                   1174, 1175, 1177]

Q1: Total Orders
Count the total number of orders [Both processed and returned orders].

63
66
126
129

In [9]:
po=set(processed_orders)
ro=set(returned_orders)

In [5]:
print(po)

{1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1051, 1052, 1178, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1085, 1088, 1089, 1091, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1124, 1128, 1129, 1131, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1150}

In [11]:
print(len(ro))

66

In [12]:
fo=po.union(ro)

In [13]:
print(len(fo))

129

In [14]:
Oid={1099}
Oid.issubset(po)

True

In [15]:
Oid.issubset(ro)

False

In [16]:
1099 in processed_orders

True

In [18]:
count=0
for i in range(0,len(returned_orders),1):
    if i % 3 == 0:
        count+=1
print(count)
print(len(returned_orders))

22
66

In [1]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [10]:
netflix = {'The Debt Collector': 1821195, 'Act of Vengeance': 2804479, 'Paradise Lost': 2195477, "Gerald's Game": 3650626, 'Long Shot': 638440, 'Mak Cun': 1010311, 'Our Souls at Night': 3028705, 'Out of Thin Air': 2681938, "Paul Hollywood's Big Continental Road Trip": 230689, 'Satu Hari': 1012350, 'Monster High: Boo York, Boo York': 1526025, 'Cultivating the Seas: History and Future of the Full-Cycle Cultured Kindai Tuna': 2762103, 'Domino': 872663, 'TUNA GIRL': 2574816, '5CM': 2647713, 'Animal World': 220789, 'Hold the Dark': 2307432, 'Lessons from a School Shooting: Notes from Dunblane': 2419534, 'Made in Mexico': 3653712, 'Single': 239278, 'The 3rd Eye': 196138, 'The Sinking Of Van Der Wijck': 2831856, 'Two Catalonias': 1337119, 'Bobby Sands: 66 Days': 2005623, 'Bard of Blood': 744998, 'Deliha 2': 3638900, 'Dragons: Rescue Riders': 3241239, 'In the Shadow of the Moon': 1213329, 'Skylines': 1840094, 'Sturgill Simpson Presents Sound & Fury': 1915540, 'The Politician': 1019394, 'Weeds on Fire': 2273090, 'Much Loved': 3039852, 'Joseph: King of Dreams': 1734449, 'Malaal': 1926128, 'The Grandmaster': 2549410, 'The Inmate': 130965, 'The Hurricane Heist': 2191538, 'Def Comedy Jam 25': 1392697, 'Restless Creature: Wendy Whelan': 2474412, 'Print the Legend': 548250, 'Birders': 3478883, 'Furie': 2755115, 'Leap!': 1401638, 'Oh! Baby (Malayalam)': 839139, 'Oh! Baby (Tamil)': 2691505, 'USS Indianapolis: Men of Courage': 3286014, 'A Wrinkle in Time': 1258861, 'Teach Us All': 2428947, 'White Island': 1152905, 'Inside Man: Most Wanted': 2812661, 'Jeff Dunham: Beside Himself': 2930368, 'China Salesman': 3377292, 'Swearnet: The Movie': 949689, 'The Bar': 620655, 'Manmadhudu 2': 1842761, 'Team Kaylie': 359856, 'Under the Eiffel Tower': 2298237, 'Audrie & Daisy': 1573055, 'Iliza Shlesinger: Confirmed Kills': 365220, 'BONDING': 1664242, 'Do Paise Ki Dhoop Chaar Aane Ki Baarish': 2770879, '20 Feet From Stardom': 2931730, 'In Darkness': 3248749, 'Gaga: Five Foot Two': 3719550, 'The Bad Batch': 3656264, 'SMOSH: The Movie': 3697506, 'King of Boys': 584112, 'Merry Men: The Real Yoruba Demons': 2035595, "Sarah's Key": 1337902, 'The Wedding Party 2: Destination Dubai': 1471204, 'Vagabond': 1600432, 'Battlefish': 723021, 'DRAGON PILOT: Hisone & Masotan': 602919, 'Hilda': 54948, 'Maniac': 1348196, 'Quincy': 2601704, 'Rafinha Bastos: Ultimatum': 3469996, 'The Good Cop': 2265521, 'Between Two Ferns: The Movie': 3146508, 'Criminal: France': 2021409, 'Criminal: Germany': 658824, 'Criminal: Spain': 3078634, 'Criminal: UK': 2721398, 'Daddy Issues': 2119035, "Inside Bill's Brain: Decoding Bill Gates": 1755104, 'The Hockey Girls': 2000507, 'Travel Mates 2': 707260, 'True: Tricky Treat Day': 3213199, 'Two Sentence Horror Stories': 2438329, 'Mad World': 2281773, 'Mobile Suit Gundam UC': 778879, 'The Bund': 1729892, 'The First Line': 674591, 'Maynard': 84986, 'Monkey Twins': 3277179, 'Bitcoin Heist': 1450158, 'I Am Not Madame Bovary': 2763830, 'Vincent N Roxxy': 1961810, "Chef's Table: France": 2065738}
netflix.get('Do Paise Ki Dhoop Chaar Aane Ki Baarish')
netflix['Do Paise Ki Dhoop Chaar Aane Ki Baarish']

2770879

In [13]:
print(max(netflix))
print(min(netflix))

White Island
20 Feet From Stardom

In [20]:
print(netflix['Monkey Twins'])
print(netflix['Maynard'])
print(netflix['Gaga: Five Foot Two'])
print(netflix['Hilda'])
print(netflix['Gerald\'s Game'])
print(netflix['White Island'])
print(netflix['Rafinha Bastos: Ultimatum'])
print(netflix['The First Line'])

3277179
84986
3719550
54948
3650626
1152905
3469996
674591

In [28]:
lwv={'Deliha 2':3943452,'Dragons: Rescue Riders':3996388,'Rafinha Bastos: Ultimatum':3575445,'Gaga: Five Foot Two':3756188}
for i in lwv:
    print(i,lwv[i])

Deliha 2 3943452
Dragons: Rescue Riders 3996388
Rafinha Bastos: Ultimatum 3575445
Gaga: Five Foot Two 3756188

In [29]:
dict1 = {'a': 12, 'for': 25, 'c': 9}
dict2 = {'Geeks': 100, 'geek': 200, 'for': 300} 
# adding the values with common key
for key in dict2:
    if key in dict1:
        dict2[key] = dict2[key] + dict1[key]
    else:
        pass
print(dict2)

{'Geeks': 100, 'geek': 200, 'for': 325}

In [33]:
newdic={}
for key in netflix:
    if key in lwv:
        newdic[key]=netflix[key]+lwv[key]
    else:
        pass
print(newdic)
print(max(newdic))

{'Deliha 2': 7582352, 'Dragons: Rescue Riders': 7237627, 'Gaga: Five Foot Two': 7475738, 'Rafinha Bastos: Ultimatum': 7045441}
Rafinha Bastos: Ultimatum

In [34]:
lwv={'Deliha 2':3943452,'Dragons: Rescue Riders':3996388,'Rafinha Bastos: Ultimatum':3575445,'Gaga: Five Foot Two':3756188}
for i in lwv:
    print(i,lwv[i])

Deliha 2 3943452
Dragons: Rescue Riders 3996388
Rafinha Bastos: Ultimatum 3575445
Gaga: Five Foot Two 3756188

In [35]:
lwv={'Deliha 2':3943452,'Dragons: Rescue Riders':3996388,'Rafinha Bastos: Ultimatum':3575445,'Gaga: Five Foot Two':3756188}
for i in lwv:
    print(i,netflix[i])

Deliha 2 3638900
Dragons: Rescue Riders 3241239
Rafinha Bastos: Ultimatum 3469996
Gaga: Five Foot Two 3719550

In [37]:
Tv = {'BreakingBad':100, 'GameOfThrones':1292, 'TMKUC' : 88}
Keymax = max(zip(newdic.values(), newdic.keys()))[1]
print(Keymax)

Deliha 2

In [39]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [40]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [43]:
#List_remove_append
il=['SAS', 'R', 'PYTHON', 'SPSS']
il.remove('SPSS')
il.append('SPARK')
print(il)

['SAS', 'R', 'PYTHON', 'SPARK']

In [46]:
#List to String
ist=['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
ost=ist[0] + ' & ' + ist[1]
print(ost)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [47]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

In [49]:
input_str = 'Kumar_Ravi_003'
splits=input_str.split('_')
first_name=splits[1]
second_name=splits[0]
customer_code=splits[2]
print(first_name,second_name,customer_code)

Ravi Kumar 003

In [52]:
L1 = [10, 20, 30, 24, 18] 
L2 = [8, 14, 15, 20, 10] 
L3 = [] 
for i in range(len(L1)):
    L3.append(L1[i] - L2[i])
print(L3)

[2, 6, 15, 4, 8]

In [53]:
L1 = [10, 20, 30, 24, 18] 
L2 = [8, 14, 15, 20, 10] 
L3 = [L1[i] - L2[i] for i in range(0, len(L1))] 
print(L3)

[2, 6, 15, 4, 8]

In [ ]:
#