In [1]:
number='159'

print(type(number))

<class 'str'>

In [2]:
number=34.721
print(float(int(number)))

34.0

In [3]:
name = Alex
print(type(name))

NameError: name 'Alex' is not defined

In [4]:
a = 8.9
b = 2
c = 5
print(a//b//c)

0.0

In [8]:
4 // 8 + ( 2.5 + 7.5 ) - 6 * 3

-8.0

In [9]:
5 % ( 2 + 12 ) ** 3 - 60 // ( 7 + 1 ) * 2

-9

In [10]:
string_1 = "I love to code in python"
print( string_1[7:13])

to cod

In [11]:
sentence = 'This sentence needs to be split into words'

In [14]:
sentence[-17:-11]

' split'

In [15]:
len = 'python'
print(len(len))

TypeError: 'str' object is not callable

In [16]:
x=10
if x%2==0
print("even number")
else
print("odd number")

SyntaxError: expected ':' (4058991420.py, line 2)

In [17]:
if 4+9<10:
  print("true")
else:
  print("false")
print("true")

false
true

In [19]:
x=67
if x>50:
  if x>90:
    print("excellent")
  else:
    if x>80:
      print("good")
    else:
      print("fair")
else:
  if x>30:
    print("average")
  else:
    print("poor")

fair

In [22]:
a='pqrstuv'
i='j'
while i in a:
  print(i)

In [24]:
i = 16
while False:
    if i%2 == 0:
        break
    print(i)
    i += 2

In [25]:
s="Upgrad"

for i in range(len(s)):
    if s[i] in 'a':
        s[i]='*'

print(s)

TypeError: 'str' object is not callable

### Write a Python program to take the employee name as input from the user and print the employee details as shown below.

In [1]:
emp={"emp1":{"name":"Carie","salary":20000,"designation":"Analyst","Grade":"E1"}, 
"emp2":{"name":"Herina","salary":40000,"designation":"Senior Analyst","Grade":"E2"}, 
"emp3":{"name":"Watler","salary":80000,"designation":"Data Scientist","Grade":"E1"}, 
"emp4":{"name":"Ria","salary":60000,"designation":"Data Scientist","Grade":"E1"}, 
"emp5":{"name":"Rina","salary":90000,"designation":"Senior Data Scientist","Grade":"E2"},
"emp6":{"name":"Caren","salary":150000,"designation":"Manager","Grade":"E3"}, 
"emp7":{"name":"Archer","salary":80000,"designation":"Senior Data Scientist","Grade":"E2"},
"emp8":{"name":"Barry","salary":15000,"designation":"Analyst","Grade":"E1"},
"emp9":{"name":"Heren","salary":60000,"designation":"Senior Analyst","Grade":"E2"}, 
"emp10":{"name":"Arlo","salary":25000,"designation":"Analyst","Grade":"E1"}}

In [22]:
#for key,value in emp.items():
#    for key in value:
#            print(key,value[key])
for id in emp:
    for k in emp[id]:
        print(k,'=',emp[id][k])

name = Carie
salary = 20000
designation = Analyst
Grade = E1
name = Herina
salary = 40000
designation = Senior Analyst
Grade = E2
name = Watler
salary = 80000
designation = Data Scientist
Grade = E1
name = Ria
salary = 60000
designation = Data Scientist
Grade = E1
name = Rina
salary = 90000
designation = Senior Data Scientist
Grade = E2
name = Caren
salary = 150000
designation = Manager
Grade = E3
name = Archer
salary = 80000
designation = Senior Data Scientist
Grade = E2
name = Barry
salary = 15000
designation = Analyst
Grade = E1
name = Heren
salary = 60000
designation = Senior Analyst
Grade = E2
name = Arlo
salary = 25000
designation = Analyst
Grade = E1

In [26]:
name=input()
outlst=[]
for key, value in emp.items():
    if value['name']==name:
        outlst.append(value['Grade'])
        outlst.append(value['salary'])
        outlst.append(value['designation'])
print(outlst)

Arlo
['E1', 25000, 'Analyst']

### Write a Python program to take grade as input from the user and print the number of employees working at that grade.

In [2]:
grade=input()
gcount=0
for key, value in emp.items():
    if value['Grade']==grade:
        gcount+=1
print(gcount)

E1
5

### Write a Python program to take grade as input from the user and print the employee's name with the maximum salary.

In [10]:
grade=input()
sal=[]
for key, value in emp.items():
    if value['Grade']==grade:
        sal.append(value['salary'])
sal.sort()

for key, value in emp.items():
    if value['salary']==sal[-1]:
        n=value['name']
        break
print(n)

E1
Watler

### Write a Python program to take designation as input from the user and print the average salary for the given designation (Round off to 2 decimal places).

In [19]:
desig=input()
d=[]
for key, value in emp.items():
    if value['designation']==desig:
        d.append(value['salary'])
print(round(sum(d)/len(d),2))

Analyst
20000.0

### Write a Python program to find the list of duplicate characters in the given string. Print the elements in the list in alphabetical order.
Note- Input is case insensitive.

In [41]:
word=input().lower()
wlst=[]
a=set()
for ch in word:
    if word.count(ch)>1:
        wlst.append(ch)
a.update(wlst)
wlst=list(a)
print(wlst)

Engaging
['g', 'n']

In [44]:
item="Jacket"
sizes=['XS', 'S', 'M', 'L', 'XL']
colors=['Gray', 'Black', 'White', 'Maroon']

for color in colors:
    for size in sizes:
        print(color+' '+item+' - '+size)

Gray Jacket - XS
Gray Jacket - S
Gray Jacket - M
Gray Jacket - L
Gray Jacket - XL
Black Jacket - XS
Black Jacket - S
Black Jacket - M
Black Jacket - L
Black Jacket - XL
White Jacket - XS
White Jacket - S
White Jacket - M
White Jacket - L
White Jacket - XL
Maroon Jacket - XS
Maroon Jacket - S
Maroon Jacket - M
Maroon Jacket - L
Maroon Jacket - XL

In [45]:
item="Jacket"
sizes=['XS', 'S', 'M', 'L', 'XL']
colors=['Gray', 'Black', 'White', 'Maroon']

for size in sizes:
    for color in colors:
        print(color+' '+item+' - '+size)

Gray Jacket - XS
Black Jacket - XS
White Jacket - XS
Maroon Jacket - XS
Gray Jacket - S
Black Jacket - S
White Jacket - S
Maroon Jacket - S
Gray Jacket - M
Black Jacket - M
White Jacket - M
Maroon Jacket - M
Gray Jacket - L
Black Jacket - L
White Jacket - L
Maroon Jacket - L
Gray Jacket - XL
Black Jacket - XL
White Jacket - XL
Maroon Jacket - XL